body {
    background-color: #FAAADD;
}

h1 {
    color:black;
    font-size: 20px;
    font-family: courier;
    text-align: center;
}

h2{
font-size: 36px;
font-family: courier;
text-align: center;

}


h3{
  text-align: center;
  font-size: 40px;
  margin-right: 100px;
}

h4{
  text-align: center;
  font-size: 40px;
  color: black;

}

a{
  color: black;
  font-family: courier;
  font-size: 25px;
}

p {
    font-family: georgia;
    font-size: 20px;
    font-style: oblique;
}


#encabezado {
  width: 1500px;
  height: 100px;
  background-color: #2049C1;
}

#cuadro {
  width: 1500px;
  height: 650px;
  background-color: #D8D8C7;
}

#lateral{
  width: 340px;
  height: 650px;
  background-color: #2049C1;
  float: right;

}

#lateral1{
  width: 340px;
  height: 650px;
  background-color: #2049C1;
  float: left;

}

.redesSociales{
  margin-top: 30px;
}

img{
  padding: 10px;
  display: block;
  width: 100px;
  border-radius: 50px;
}

#cf img{
  position:relative;
  margin:0 auto;
}

#cf img {
  position:absolute;
  left: 450px;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#cf img.top:hover {
  opacity:0;
}

.navbar {
    overflow: hidden;
    width: 1500px;
    background: #152143;
}

.navbar a {
    display: block;
    float: right;
    padding: 25px 15px;
    font-size: 18px;
    font-family: courier;
}

.navbar a :hover {
    display: flex;
    background: #152143;
    color: white;
}
